@page
@model tl.ess.providersearch.poc.Pages.HelloModel
@{
}

<main>
	<p>Hello</p>
</main>

@section Scripts {

	<script type="text/javascript">

		$(document).ready(function() {
			console.log("document ready");
			const msg = 'hello';
			console.log('message = ' + msg );

		});
	</script>
}