@page
@model tl.ess.providersearch.poc.Pages.SearchBoxPageModel
@{
	ViewData["Title"] = "Search Box";
}

<main id="main-content" role="main">

	<div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">

		<!-- Search Box -->        
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-two-thirds tl-padding-0">
                <div class="tl-card--grey">
                    <h1 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-7">Find your nearest T Level provider</h1>
                    <p class="govuk-body">Search for schools and colleges to offer industry placements to.</p>
				    <form class="tl-search-providers-form" action="javascript:void(0);">
                        <span class="govuk-error-message tl-hidden" id="tl-postcode-error">You must enter a postcode</span>
                        <input class="govuk-input govuk-input--width-10" id="tl-postcode" name="tl-postcode" type="text" placeholder="Enter a postcode">
                        <button class="govuk-button tl-button--blue" id="tl-search-providers" data-module="govuk-button">
                            Search
                        </button>
				    </form>
                </div>
            </div>
            <div class="govuk-grid-column-one-third tl-padding-0">
                <img class="tl-image-100" src="{{settings.home_image_6}}">
            </div>
        </div>
    </div>
</main>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function() {
            $('#tl-postcode').keypress(function (e) {
                if (e.which === 13) {
                    $("#tl-search-providers").click();
                    return false;
                }
            }); 

            $("#tl-search-providers").click(function() {
                const postcode = $("#tl-postcode").val().trim().toUpperCase();

                if (postcode === "") {
                    event.stopPropagation();
                    showPostcodeError("You must enter a postcode");
                    return false;
                }

                const searchParams = new URLSearchParams({
                    search: postcode
                }).toString();
                $(location).attr('href', `/Index?${searchParams}`);

                return true;
            });

           	$(".tl-search-providers-form").submit(function() {
			    event.preventDefault();
		    });

            function showPostcodeError(message) {
                $("#tl-postcode-error").text(message);
                $('#tl-postcode-error').removeClass("tl-hidden");
            }
        });

    </script>
}